/********** color key **********/

/* *************************** */

body {
    color: rgb(51, 51, 51);
    font-family: 'Montserrat', sans-serif;
}

/* ************
 navbar 
************ */

/* The side navigation menu */

.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 2;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    /* background-color: #fff; */
    background-color: rgb(51, 51, 51);
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.1s;
    /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */

.sidenav a {
    padding: 8px;
    text-decoration: none;
    font-size: 25px;
    /* color: #818181; */
    color: #ddd;
    display: block;
    transition: 0.1s;
    text-align: center;
}

/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
    color: #818181;
}

/* Position and style the close button (top right corner) */

.sidenav #closebtn {
    position: absolute;
    top: 5px;
    right: 0;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav img {
    border: 2px solid black;
    max-width: 250px;
}

#openbtn {
    position: fixed;
    top: 20px;
    left: 20px;
    /* font-size: 25px; */
    cursor: pointer;
    z-index: 1;
    background-color: rgb(51, 51, 51);
    padding: 5px 10px;
    color: #fff;
}

.fa-bars {
    color: #fff;
}

/* slides navigation */

/* .fp-slidesNav ul li a span {
    background: rgb(51, 51, 51);
} */

.num {
    position: absolute;
    bottom: 35px;
    right: 45px;
    text-align: left;
    z-index: 100;
    font-weight: 900;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.container>h3, .container-fluid h3 {
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
}

.container p, .container-fluid p {
    padding: 5px 15px;
    line-height: 2;
}

#fp-nav {
    top: 10%;
}

/* change arrow icons */

.fp-controlArrow.fp-prev {
    border: none;
    width: 50px;
    height: 101px;
    background: url(../img/left.png) no-repeat center;
    cursor: pointer;
}

.fp-controlArrow.fp-next {
    border: none;
    width: 50px;
    height: 101px;
    background: url(../img/right.png) no-repeat center;
    cursor: pointer;
}

/* vertical navbar */

/*  *******************

 home 

******************* */

#home {
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(../img/bg2.jpg) no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

#home h3 {
    text-shadow: 2px 2px 8px rgba(51, 51, 51, .9);
    font-size: 80px;
}

.bottom-home {
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.bottom-home p {
    font-size: 90%;
    font-weight: bold;
}

.bottom-home a {
    color: #fff;
}

.bottom-home a:hover {
    color: rgb(51, 51, 51);
}

/*  *******************

 about 

******************* */

/*  *******************

 contact 

******************* */

#footer {
    background-color: rgb(51, 51, 51);
}

#contact a {
    color: rgb(51, 51, 51);
    text-decoration: none;
}

#contact a:hover {
    color: rgb(51, 51, 51);
}

#contact li {
    display: inline-block;
    padding: 15px;
    font-weight: bold;
}

li.first-link {
    padding-left: 0;
}

li.last-link {
    padding-right: 0;
}

#contact .links {
    padding-left: 0;
}

/* .btn-sub, .btn-sub:visited {
    background-color: rgb(51, 51, 51);
    padding: 10px 20px;
    border-radius: 0;
    font-family: 'Special Elite', cursive;
    color: #ddd;
    border: 2px solid #ddd;
}

.btn-sub:hover {
    border: 2px solid rgb(51, 51, 51);
    background-color: #ddd;
    color: rgb(51, 51, 51);
}

.form-control:focus {
    border: 1px solid #58a4b0;
}

.form-group {
    padding-bottom: 15px;
}

.form-group label {
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: 700;
}

.contact-info h3 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    text-align: left;
    line-height: 57px;
}

.contact-info p {
    font-size: 14px;
    line-height: 57px;
    margin-bottom: 10px;
    margin-top: 20px;
} */

.social {
    position: absolute;
    bottom: 10px;
    margin-left: 5px;
}

.social a {
    margin: 10px;
    display: inline-block;
    font-size: 11px;
}

.social a:hover .fa-twitter {
    color: #00abf0;
}

.social a:hover .fa-facebook {
    color: #39579a;
}

.social a:hover .fa-instagram {
    color: #dd2a7b;
}

.social a:hover .fa-envelope {
    color: #feda77;
}

.social a:hover .fa-linkedin-square {
    color: #0077b5;
}

.social a:hover .fa-vimeo {
    color: #1ab7ea;
}

.social a:hover .fa-tumblr-square {
    color: #35465c;
}

.social a:hover .fa-pinterest {
    color: #bd081c;
}

.social a:hover .fa-youtube-play {
    color: #ff0000;
}

/* *********************
monotone
********************* */

#zine .zine-cover {
    min-height: 100vh;
    background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.2)), url(../img/monotone/cover.jpeg) no-repeat center center;
    background-size: cover;
}

/* *********************
chillscapes
********************* */

#chillscapes-zine .zine-cover {
    min-height: 100vh;
    background: url(../img/chillscapes/cover.jpeg) no-repeat center center;
    background-size: cover;
}

/* *********************
eff & enn
********************* */

#fn .zine-cover {
    min-height: 100vh;
    background: url(../img/eff-enn/cover.jpg) no-repeat center center;
    background-size: cover;
}

.col-text {
    padding: 25px 10px;
}

.hide-mobile {
    display: none;
}

@media screen and (min-width: 992px) {
    /*------------------------------------*\
    BORDERS
\*------------------------------------*/
    /* Create a series of empty pseudo-elements... */
    html:before, html:after, body:before, body:after {
        content: "";
        background: rgb(51, 51, 51);
        position: fixed;
        display: block;
        z-index: 5;
    }
    /* ...and position them! */
    html:before {
        height: 20px;
        left: 0;
        right: 0;
        top: 0;
    }
    html:after {
        width: 20px;
        top: 0;
        right: 0;
        bottom: 0;
    }
    body:before {
        height: 20px;
        right: 0;
        bottom: 0;
        left: 0;
    }
    body:after {
        width: 20px;
        top: 0;
        bottom: 0;
        left: 0;
    }
    .display-mobile {
        display: none;
    }
    .hide-mobile {
        display: block;
    }
    .zine-title {
        margin-top: 65px;
    }
}

@media screen and (max-width: 991px) {
    body {
        font-size: 90%;
    }
    .container>h3, .container-fluid h3, #home h3 {
        font-size: 30px;
    }
    .col-md-4 {
        padding-left: 0;
        padding-right: 0;
    }
    #openbtn {
        top: 0;
        left: 0;
    }
    #zine {
        background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.2)), url(../img/monotone/cover.jpeg) no-repeat center center;
        background-size: cover;
    }
    #slide1 {
        background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.2)), url(../img/chillscapes/cover.jpeg) no-repeat center center;
        background-size: cover;
    }
    #fn {
        background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.2)), url(../img/eff-enn/cover.jpg) no-repeat center center;
        background-size: cover;
    }
    .fp-slidesNav {
        display: none;
    }
    .num {
        bottom: 15px;
        right: 15px;
    }
    .margin-b {
        margin-bottom: 20px;
    }
    .social {
        bottom: 0;
    }
}